<?xml version="1.0" encoding="utf-8" ?>
<DotnetCenter>
  <Config>
    <CuentaEmail></CuentaEmail>
    <PassworkEmail></PassworkEmail>
    <PortServerEmail></PortServerEmail>
    <HostServerEmail></HostServerEmail>
    <EnableSslServerEmail>true</EnableSslServerEmail>
    <NumeroPrestamosPorSocio>2</NumeroPrestamosPorSocio>
  </Config>
</DotnetCenter>
